* {
    font-family: "SUIT", sans-serif;
}
h1,
h2 {
    font-size: 30px;
    font-weight: 600;
}
.text-box {
    height: 100px;
    overflow-y: scroll;
}
.chart {
    width: 70%;
    margin: 0 auto;
}
.doughnut {
    width: 50%;
}
#wordcloud {
    margin: 0 auto;
}
/* header {
    height: 100vh;
}

header h1 {
    position: relative;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    text-align: center;
} */

.scene {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
}

.one {
    background-image: url(../img/flag.png);
}
.two {
    background-image: url(../img/wordcloud.png);
}
.three {
}
.four {
}
.five {
}

.five p {
    width: 60%;
    text-align: center;
    font-weight: 200;
    line-height: 150%;
}
.five p strong {
    font-weight: 500;
}

.six button {
    font-family: "SUIT";
    border: 2px solid black;
    background: none;
    font-size: 20px;
    font-weight: 600;
}

.six a {
    padding: 6px;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

.progress-bar-con {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8px;
    background-color: #555;
    z-index: 10;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #009246;
    transition: 0.1s;
    box-shadow: 0 0 0 1px #555 inset;
}
